.item {
    background: white;
    border: 1px solid gainsboro;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
}
.item {
    &--position-1{
        background: $red-alt;
    }
    &--position-2{
        background: $blue-alt;
    }
    &--position-3{
        background: $green;
    }
}


.item__message {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: purple;
}

